<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="chat-container">
        <div class="chat-header">Chat</div>
        <div id="notification-banner" class="notification-banner">
            New message received!
        </div>
        <div class="chat-messages" id="chat-messages">
          <!-- Chat messages will appear here -->
        </div>
        <div class="chat-input-area">
          <input type="text" id="msgInput" placeholder="Type a message...">
          <button id="send">Send</button>
        </div>
      </div>
    <script src="https://cdn.socket.io/4.8.0/socket.io.min.js" integrity="sha384-OoIbkvzsFFQAG88r+IqMAjyOtYDPGO0cqK5HF5Uosdy/zUEGySeAzytENMDynREd" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>